.sidebar-container {
    position: sticky;
    z-index: 2;
    width: 21rem;
    height: 90vh;
    top: 200px;
    overflow: visible;
    left: 8vw;
    background-color: var(--primary);
    border-radius: 10px;
    box-shadow: 0 2px 4px -2px rgb(0 0 0 / 15%);
    transition: opacity 1s ease;
    transition-delay: 700ms;
    visibility: visible;
}

.sidebar-container.hide {
    transition-delay: 0s;
    opacity: 0;
    animation: hide 300ms 1s forwards;
}

@keyframes hide {
    to {
        visibility: hidden;
    }
}

/* ipad screen */
@media ( max-width: 1024px) {
    .sidebar-container {
        width: 22rem;
        height: 90vh;
        top: 200px;
        left: 0;
    }
}

/* mobile screen */
@media (max-width: 768px) {
    .sidebar-container {
        position: static;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        top: 100px;
        margin-top: 55vh;
        border-radius: 10px;
        height: 85vh;
    }
}


.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px 10px 10px;
}

.sidebar-avatar {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--text-tertiary);
    margin-bottom: 10px;
    box-shadow: 0 2px 4px 2px rgb(0 0 0 / 15%);
}

.sidebar-avatar img {
    width: 100%;
}

.sidebar-title {
    font-size: 18px;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
    color: var(--text-primary);
}

.sidebar-title-container {
    width: 10rem;
}

.sidebar-typewriter-wrapper {
    font-size: 12px;
    color: var(--text-secondary);
    text-transform: uppercase;
}

.sidebar-typewriter-cursor {
    color: var(--secondary);
}

.sidebar-social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-social-item {
    margin-right: 1rem;
    /*border: 1px solid var(--text-primary);*/
    width: 27px;
    height: 27px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-social-item-icon {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}

.sidebar-social-item:hover .sidebar-social-item-icon {
    transform: scale(0.8);
}

/* grid with two column */
.sidebar-user-info {
    padding: 10px 10%;
    width: 100%;
}

.sidebar-user-info-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: var(--text-primary);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-weight: 700;
}

.sidebar-user-info-item-value {
    color: var(--text-secondary);
}

@media screen and (max-width: 480px) {
    .sidebar-container {
        position: static;
        height: 100%;
        margin-top: 45vh;
        padding-bottom: 10px;
    }

    .sidebar-typewriter-wrapper {
        font-size: 10px;
    }
}
