.banner {
    position: absolute;
    width: 100vw;
    height: 70vh;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: flex-end;
}

.banner-image {
    position: absolute;
    width: 90vw;
    height: 50vh;
    border-radius: 10px;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;
    object-fit: cover;
    transition: opacity ease-in-out 0.8s;
    opacity: 0;
}

.banner-image.active {
    opacity: 1;
}

.banner::before {
    content: "";
    position: absolute;
    width: 90vw;
    height: 50vh;
    border-radius: 10px;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    background-color: #000000;
    opacity: 0.3;
}

.banner-content {
    position: absolute;
    top: 25vh;
    right: 5%;
    width: 62vw;
    padding: 0 2rem;
    transition: opacity ease-in-out 0.8s;
    opacity: 0;
}

.banner-content.active {
    opacity: 1;
}

.banner-title {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.banner-list {
    width: 65%;
}

.banner-list * {
    padding-left: 0.5rem;
    letter-spacing: normal;
    font-weight: normal;
    color: var(--text-tertiary);
    line-height: 1.5rem;
    margin-top: 1rem;
    text-align: justify;
    font-size: 1rem;
}

.banner-subtitle-container {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    color: #fff;
}

.banner-subtitle-icon-container {
    width: 55px;

    height: 55px;
    background-color: var(--secondary);
    border-radius: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    overflow: hidden;
}

.banner-subtitle-icon {
    width: 45px;
    height: 45px;
}

.banner-scroll-container {
    position: absolute;
    top: 65%;
    right: 5%;
    display: flex;
    width: 150px;
    height: 150px;
    align-items: center;
    z-index: 9999;
}

.banner-scroll {
    cursor: pointer;
}

.banner-indicator {
    width: 15px;
    height: 15px;
    border-radius: 55px;
    align-items: center;
    background-color: var(--text-primary);
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    margin: 0 1rem;
}

.banner-indicator:hover {
    transform: scale(0.8);
}

.banner-indicator.active {
    transform: scale(1.5);
    background-color: var(--secondary);
}

@media screen and (max-width: 1024px) {
    .banner-content {
        left: 37%;
        width: 58vw;
    }

    .banner-list {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .banner-image {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        top: 0;
        left: 0;
        transform: translateX(0);
        width: 100vw;
    }

    .banner::before {
        top: 0;
        left: 0;
        transform: translateX(0);
        width: 100vw;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .banner-content {
        left: 0;
        top: 12vh;
        height: 50vh;
        width: 100vw;
    }

    .banner-title {
        font-size: 2rem;
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
    }

    .banner-list {
        width: 100%;
    }

    .banner-list * {
        padding-left: 0.5rem;
        font-size: 0.75rem;
        line-height: normal;
        margin-bottom: 1rem;
    }

    .banner-subtitle-container {
        margin-top: 2rem;
    }

    .banner-subtitle {
        font-size: 1rem;
        width: 70%;
        text-align: center;
    }

    .banner-scroll-container {
        top: auto;
        bottom: 22%;
        right: 50%;
        transform: translateX(50%);
        display: flex;
        justify-content: center;
    }

    .banner-scroll {
        width: 100px;
        height: 70px;
    }

    .banner-indicator-container {
        top: 55%;
        right: 0;
    }

    .banner-subtitle-icon-container {
        width: 40px;
        height: 40px;
    }

}

